language: cpp
sudo: required
matrix:
  include:
  - os: linux
    compiler: gcc
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - george-edison55-precise-backports
        packages:
        - cmake
        - cmake-data
        - g++-5
        - libblas-dev
        - liblapacke-dev
        - libopenmpi-dev
        - mercurial
    env: CXX_COMPILER='g++-5'
install:
- hg clone https://bitbucket.org/ryan_richard/eigen
- cd eigen
- hg update blas_header
- cmake
  -H.
  -Bbuild
  -DCMAKE_CXX_COMPILER=${CXX_COMPILER}
  -DCMAKE_BUILD_TYPE=Release
  -DCMAKE_INSTALL_PREFIX=${HOME}
- cd build && make install
- cd ${TRAVIS_BUILD_DIR}
script:
- ls ${HOME}/include/eigen3
- cmake
  -H.
  -Bbuild
  -DCMAKE_CXX_COMPILER=${CXX_COMPILER}
  -DCMAKE_BUILD_TYPE=Release
  -DCMAKE_PREFIX_PATH=${HOME}
  -DCBLAS_INCLUDE_DIR=/usr/include
  -DCBLAS_LIBRARIES=/usr/lib/libblas/libblas.a
  -DLAPACKE_INCLUDE_DIR=/usr/include
  -DLAPACKE_LIBRARIES=/usr/lib/liblapacke.a
- cd build && VERBOSE=1 make
- ctest
- cd -
after_failure:
- cat Testing/Temporary/LastTest.log
